:root {
    --columns-row: 2;
}

.etchcontainer {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    width: 500px;
    height: 500px;
    background-color: blue;
}

.etchcell {
    display: inline-block;
    border: 1px solid black;
    background-color: green;
}
