:root {
    --columns-row: 2;
}

.maincontainer {
}

.etchcontainer {
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
    width: 60vw;
    height: 60vh;
    background-color: grey;
    margin: 0 auto;
    z-index: 3;
}

.etchframe {
    left: 50%;
    width: 60vw;
    height: 60vh;
    z-index: 5;
    border: 4vw solid crimson;
    border-bottom: 8vw solid crimson;
    border-radius: 30px;
    margin: 0 auto;
}

.etchcell {
    background-color: grey;
    z-index: 1;
}

#countsize {
    margin-top: 20px;
    width: 40px;
    height: 30px;
    border-radius: 30px;
}

#countbutton {
    margin-top: 20px;
    height: 40px;
    border-radius: 30px;
}

#clearbutton {
    margin-top: 20px;
    height: 40px;
    border-radius: 30px;
}

.controls {
    padding-top: 300px;
}
